* {
    box-sizing: border-box;
    font-family: messina-sans;
    
}

body {
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(104, 124, 142); */
}
.maidiv{
    width: 100%;

}

.navbar {
    position: absolute;
    display: flex;
    justify-content: end;
    margin: 0%;
    z-index: 1;
}

ul,
li {
    list-style: none;
    display: flex;
    justify-content: end;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#Content {

    position: absolute;
    margin: 0%;
}

header {

    position: relative;
    display: flex;
    justify-content: end;

}


.mainheader {



    position: absolute;
    top: 12%;
    left: 7%;
    size: 10px;
    width: 40%;
}


/* <-------------------------> */


.maincontent {
    display: flex;
    flex-wrap: wrap;
    background-color:aliceblue;
    margin-top: 70%;
    width: 100%;
    border: solid lime 2px;
    /* padding-left: 150px; */


}

.content {
    width: 50%;
    border: solid red 2px;
    display: flex;
    /* padding: 10px; */


    
}

#content1{
    width: 50%;
    background-color:white;
    display: flex;
    /* align-items: center;s */
    
    height: 500px;
}
#content2{
        
        /* margin-top: 10%; */
    width: 40%;
    height: 500px;
    background-color:white;   
    display: flex;
    /* align-items: center; */
    border: solid white;
    /* border: solid black; */
}
#content3{

    width: 45%;
    height: 500px;
    background-color:white;   
    display: flex;
    /* align-items: center; */
    border: solid white;
}
#content4{

    width: 40%;
    height: 500px;
    background-color:white;   
    display: flex;
    /* align-items: center; */

    border: solid black;
}
#img1{
    width: 50%;
    border: solid black 2px;
    /* margin-right: 5px; */
}
